svg {
  border: 1px solid;
  height: 200px;
  width: auto
}

svg .text {
  dominant-baseline: middle;
  text-anchor: middle;
  font-family: sans-serif;
  font-weight: bold
}

svg .line {
  stroke: grey;
  stroke-width: 5
}

svg .circle {
  stroke: grey;
  stroke-width: 5px;
  fill: LightGray
}
